//app page full-screen
.app-page-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80rem;
}

.app-page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $lambdaGray;
  margin-bottom: 50px;

  h2 {
    display: flex;
    align-items: center;
  }
}
.display-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;

  .app-screenshot {
    height: auto;
    width: 100%;
    border-radius: 5px;
  }

  .app-description {
    padding: 15px;
    width: 40%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .description-border {
      width: 49%;
      padding-top: 20px;
      border-bottom: 1px solid $lambdaGray;
    }

    p {
      padding-bottom: 30px;
      margin: 0;
      font-size: 1.5rem;
    }
  }
}
.category-wrap {
  width: 50%;
  .category-card {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;

    .app-category {
      width: 100%;
      margin-left: 6%;
      padding: 5px;
      border-radius: 10px;
      text-align: center;
      background-color: $lambdaPink;
      color: $lambdaSmoke;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

.tags-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  color: $darkcolor;
  background-color: $lambdaRed;
  border-radius: 5px;

  .app-tags {
    display: flex;
    justify-content: center;
    align-items: baseline;
    h3 {
      margin-right: 15px;
    }
  }
  .app-tag {
    padding: 0 10px;
    justify-content: center;
    color: $lambdaSmoke;
    :hover {
      color: $lambdaTeal;
    }
  }
}

.team-wrap {
  width: 100%;

  .users-heading {
    font-size: 1.17em;
    text-align: center;
  }

  .users-cta {
    text-align: center;
    font-size: 1.3rem;
  }

  .app-users {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;

    .user-card {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      width: 30%;

      .team-container {
        margin: 15px;
        min-height: 350px;

        .profile-img {
          margin-top: 15px;
          height: auto;
          width: 45%;
          border-radius: 50%;
        }
        .names {
          margin-bottom: 0;
        }
        .username {
          font-size: 1rem;
        }
      }
    }
  }
}
