//global styling

*,
*:before,
*:after {
	box-sizing: border-box !important;
}

// html {
// 	font-size: 62.5%;
// }

body {
	font-family: 'Lato', sans-serif;
	font-size: 2rem;
	background-color: $lightcolor;
}

li,
input,
label,
textarea {
	font-family: 'Lato', sans-serif;
}

ul {
	padding: 0
}
hr {
	border: none;
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	width: 100%;
}

a {
	text-decoration: none;
}
