.home-header {
    background: $lambdaDarkBlue;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        margin-left: 3.4rem;
        font-family: 'Lato', sans-serif;
        font-size: 2rem;
        color: $lambdaSmoke;
    }

    img {
        height: 10rem;
        margin-right: 14rem;
        @media screen and (max-width: 500px) {
            object-fit: cover;
            width: -webkit-fill-available;
        }
    }
}
