.landingMockup {
      width: 100%;
}
.comingSoon {
      margin-top: 100px;
      position: fixed;
      width: 100%;
      text-align: center;
      background: $lambdaPink;
      color: $lambdaGray;
      
}
.comingsOon {
      margin-top: 200px;
      position: fixed;
      width: 100%;
      text-align: center;
      background: $lambdaDarkBlue;
      color: $lambdaLightBlue;
}
.comingSoOn {
      margin-top: 0;
      position: fixed;
      width: 100%;
      text-align: center;
      background: $lambdaTeal;
      color: $lambdaRed;
}
