.landingMockup {
      width: 100%;
}
.comingSoon {
      margin-top: 100px;
      position: fixed;
      width: 100%;
      text-align: center;
      background: $lambdaPink;
      color: $lambdaGray;

}
