.modal-content {
  margin: 10% auto;
  background: #efeef3;
  height: 65%;
  width: 70%;
  display: grid;
  justify-items: left;
  font-size: 1.4rem;
  grid-template-rows: auto;
  grid-template-columns: 25% 25% 25% 25%;
  padding-right: 15px;
  border-radius: 5px;
  grid-template-areas:
    " image image name name"
    " image image link link"
    " image image description description"
    " image image description description"
    " image image github . "
    " image image tags tags"
    " image image tags tags";
  ul {
    list-style: none;
    list-style-position: outside;
  }

  .image-container {
    grid-area: image;
    min-height: 100%;
    max-width: 90%;
    border-radius: 5px 0 0 5px;
  }

  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .github {
    grid-area: github;
  }

  .link {
    grid-area: link;
    color: $lambdaLightBlue;
  }

  .description {
    grid-area: description;
  }

  .name {
    grid-area: name;
  }

  .tags {
    grid-area: tags;
  }

  .chip {
    background-color: $lambdaLightBlue;
    color: $newBorder;
  }

  li a {
    text-decoration: none;
    color: $lambdaLightBlue;
  }
}
