.modal-content {
  margin: 10% auto;
  background: #efeef3;
  height: 75%;
  width: 75%;
  display: grid;
  justify-items: left;
  font-size: 1.4rem;
  grid-template-rows: auto;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  padding-right: 15px;
  border-radius: 5px;
  grid-template-areas:
    " image image image image name name . exit"
    " image image image image link link link link"
    " image image image image description description description description"
    " image image image image description description description description"
    " image image image image github github . ."
    " image image image image tags tags tags tags"
    " image image image image . . buttons buttons";

  li a {
    text-decoration: none;
    color: $lambdaLightBlue;
    padding-right: 1.5rem;
  }

  .image-container {
    grid-area: image;
    min-height: 100%;
    max-width: 90%;
  }

  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
  }
  .github {
    grid-area: github;
    display: flex;
    align-items: center;
  }

  .github h4 {
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
  }

  .github ul {
    list-style: none;
    list-style-position: outside;
    display: flex;
  }

  .fa-github {
    padding-left: 0.5rem;
  }

  .link {
    grid-area: link;
    color: $lambdaLightBlue;
  }

  .description {
    grid-area: description;
    font-size: 1.2rem;
  }

  .name {
    grid-area: name;
  }

  .tags {
    grid-area: tags;
    font-weight: bold;
  }

  .chip {
    background-color: $lambdaLightBlue;
    color: $newBorder;
  }
  .exit {
    grid-area: exit;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 1rem;

    :hover {
      cursor: pointer;
      color: #c4c4c4;
    }
  }
  .admin-buttons {
    grid-area: buttons;
    padding-bottom: 40px;
  }
}

