// AppCard/ModalContent.js
.modal-content {
  margin: 10% auto;
  background: $lambdaSmoke;
  min-height: 75%;
  width: 75%;
  display: grid;
  justify-items: left;
  font-size: 1.4rem;
  grid-template-rows: auto;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  padding-right: 15px;
  border-radius: 5px;
  grid-template-areas:
    " image image image image name name . exit"
    " image image image image link link link link"
    " image image image image description description description description"
    " image image image image description description description description"
    " image image image image github github github github"
    " image image image image tags tags tags tags"
    " image image image image . buttons buttons buttons";

  li a {
    text-decoration: none;
    color: $lambdaLightBlue;
    padding-right: 1.5rem;
  }

  a {
    color: $lambdaLightBlue;
  }
  .app-button {
    font-size: 1rem;
    padding: 30px;
  }

  .image-container {
    grid-area: image;
    min-height: 100%;
    max-width: 90%;
  }

  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
  }
  .github {
    width: 90%;
    grid-area: github;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid $lambdaGray;
    border-bottom: 1px solid $lambdaGray;

    h4 {
      padding-right: 10px;
    }
  }

  .link {
    width: 90%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    grid-area: link;
    border-top: 1px solid $lambdaGray;
    border-bottom: 1px solid $lambdaGray;
    // padding: 25px 0;
    color: $lambdaPink;
  }

  .description {
    grid-area: description;
    font-size: 1.2rem;
    text-align: center;
    padding: 20px 0 70px 0;
    width: 90%;
  }

  .name {
    grid-area: name;
  }

  .tags {
    grid-area: tags;
    font-weight: bold;
    margin-top: 20px;
  }

  .chip {
    background-color: $lambdaLightBlue;
    color: $lambdaSmoke;
  }
  .exit {
    grid-area: exit;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 1rem;

    :hover {
      cursor: pointer;
      color: $lambdaSmoke;
    }
  }
  .admin-buttons {
    grid-area: buttons;
    padding-bottom: 10px;
    justify-self: end;

    .admin-button {
      padding: 15px;
      margin: 5px;
    }

  }
}


