.my-app {
  padding: 5px;

  .app-card{
        display: flex;
        justify-content: space-evenly;

      .my-app-image {
            display: block;
            max-width: 50%;
            width: auto;
            height: auto;
            margin: 6px;
      }

      p{
          text-align: center;  
      }
  }
}
