// navbar styling

.MuiToolbar-root {
  background: $lightcolor;
  display: flex;
  justify-content: space-between;

  .Header-lambda-logo {
    max-height: 3rem;
    &:hover {
      cursor: pointer;
    }

    @media (max-width: 635px) {
     margin: 5px 0;
   }
  }

  .buttons {
    button {
      padding: 25px;

      @media (max-width: 750px) and (min-width: 675px) {
        padding: 25px 15px;
      }
      @media (max-width: 674px) and (min-width: 620px) {
        padding: 25px 9px;
      }
      @media (max-width: 619px) {
        display: none;
        
      }
    }
    
    label{
      padding: 15px;
      border: 1px solid $lambdaTeal;
      border-radius: 20px 20px 20px 0 
    }

  }
}
