.profile-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin: 30px 0;

  .info-card {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .name-card {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      font-size: 1rem;
      padding-right: 20px;
    }
    .button-card {
      display: flex;
      justify-content: space-around;

      .edit-profile-button {
            font-size: 1rem;
            padding: 20px 40px;
      }
    }
  }

  .MuiPaper-root {
        height: auto;
  }

  .image-card {
    width: 30%;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .image-div {
      width: 100%;

      .profile-image {
        border-radius: 5px;
        display: block;
        width: 100%;
      }
    }
    .username-div {
          padding: 10px;
          display: flex;
          justify-content: center;
          color: $lambdaLightBlue;
          font-size: 1.8rem;
          font-weight: 1000;
    }
  }
}

.profile-edit-modal-content {
  margin: 10% auto;
  background: #efeef3;
  min-height: 65%;
  width: 65%;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  
  .profile-edit-form {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .profile-edit-buttons {
    display: flex;
    flex-direction: column;
    justify-content: end;

    .admin-button {
      font-size: 1.6rem;
    }
  }
}