// projects gallery 

//
.actionNav {
      display: flex;
      justify-content: space-between;
}

.searchNav {
      display:flex;
}

//main container
.MuiGrid-root {
      min-height: 500px;
}

//page buttons
.MuiFlatPagination-root {
      height:40px;
      padding:24px;
      margin: 10px 0px 8px
}

//search bar
.MuiFormControl-root {
      width: 360px;
      .MuiInputBase-input{
            height:2.8em;
      }
}

//header on card
.MuiTypography-root{
      font-style: bold;
}

//cards
.MuiCardContent-root{
      height: 180px;
}

//button on card
.MuiCardActions-root {
      display: flex;
      justify-content: center;     
}




