// projects gallery

.actionNav {
      display: flex;
      justify-content: space-between;
}

.MuiFlatPagination-root {
      height:40px;
      padding:24px;
      margin: 16px 0px 8px
}

.MuiFormControl-root {
      width: 25%;
}