// projects gallery 

.actionNav {
      display: flex;
      justify-content: space-between;
}

.MuiFlatPagination-root {
      height:40px;
      padding:24px;
      margin: 10px 0px 8px
}

.MuiFormControl-root {
      width: 360px;
}

.app-title {
      font-size: 1.6rem;
      margin-top: 20px;
}

.description-box {
      height: 170px;
      // min-height: 100px;
      
}