// 
.submission {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 900px;

      .submitInput {
            width: 50%;
      }
      
}

.MuiList-root {
      width: 50%;
}

