// Main Colors
$newBorder: #e8e8e8;
$lambdaGray: #55596D;
$lambdaTeal: #3ab5e5;
$lambdaPink: #f32667;
$lambdaRed: #bb1333;

$lambdaLightBlue: #1a61b0;
$lambdaDarkBlue: #0c3c78;

$lightcolor: #ffffff;
$darkcolor: #1d2326;

// light background color
$backg-light: #ffffff;
$border-color: #efeef3;
$back-search: #efeef3;

// Font family
@import url('https://fonts.googleapis.com/css?family=Lato:300, 400,700');