// Main Colors
$lambdaSmoke: #f2f2f2;
$lambdaGray: #55596D;
$lambdaTeal: #3ab5e5;
$lambdaPink: #f32667;
$lambdaRed: #bb1333;
$lambdaLightBlue: #1a61b0;
$lambdaDarkBlue: #0c3c78;
$darkcolor: #1d2326;


// Font family
@import url('https://fonts.googleapis.com/css?family=Lato:300, 400,700');